* {
    margin: 0;
    box-sizing: border-box;
}


.header {
    background-color: #FC8D0C;
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px 0;
}

.left-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.left-header .picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.left-header .shop_name {
    color: white;
    font-size: 25px;
    text-decoration: underline;
    font-style: italic;
}

.right-header .link > a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 10px 35px;
}

.right-header {
    width: 800px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
    justify-content: space-between;
}

.right-header .btn > button {
    background-color: #EA0E0E;
    padding: 10px 15px;
    border-radius: 10px;
    margin-left: 20px;
    font-size: 16px;
    color: white;
}



/* slide bar*/
.slide_bar {
    margin-top: 150px;
    height: 400px;
}
.slide_bar > img{
    width: 100%;
    object-fit: cover;
    height: 600px;
    display: block;
    margin-bottom: 20px;
}

/*album bo suu tap*/
.album_one {
    margin-top: 220px;
    width: calc(100% - 32px);
    margin-left: 16px;
    height: 500px;
    background-color: #FEEAC3;
    display: flex;
    justify-content: space-around;
}


.left_picture img{
    width: 340px;
    height: 440px;
    display: block;
    border-radius: 10px;
}

.right_description > .picture_etc{
    display: flex;
    align-items: center;
    justify-content: center;
}

.right_description > .picture_etc > img {
    width: 200px;
    height: 150px;
}








