* {
    margin: 0;
    box-sizing: border-box;
}

.header {
    background-color: #FC8D0C;
    
}

.left-header .picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.left-header .shop_name {
    color: white;
    font-size: 20px;
    text-decoration: underline;
}





